<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sightseeing Platform</title>
        
    <!--スライドビュー--> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src = "./js/slideshow.js"></script>
    <link rel="stylesheet" href="./css/bxslider.css">

    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!--navbar section-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3">
        <div class="container">
          <a class="navbar-brand" href="/">
              <h2 class="text-white pt-1">Sightseeing Platform</h2>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ranking">Ranking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/test">Test</a>
              </li>
              <button class="btn btn-primary ms-2">Login</button>
              
            </ul>
          </div>
        </div>
      </nav>

      <!--hero section-->
      <div class="content">
          <div class="container">
            <div class="row">
                
        <div class="bxslider">
            <li><img src="./images/slide/singapore-river.jpg" alt="" width="640" height="300" > </li>
            <li><img src="./images/slide/buildings.jpg" alt="" width="640" height="300"></li>
            <li><img src="./images/slide/disney.jpg" alt="" width="640" height="300"></li>
            <li><img src="./images/slide/venetian.jpg" alt=""  width="640" height="300"></li>
            <li><img src="./images/slide/rough-horn.jpg" alt="" width="640" height="300"></li>
        </div>
    
        <div class="col-lg-8 mx-auto text-center"></div>
        <h2 class="my-5">国名を入力してください</h2>
    
     
 
        <div class="input-group">
            <input type="text" id="reserchcountry" class="form-control input-group-prepend" placeholder="例）フランス"></input>
            <span class="input-group-btn input-group-append">
              <submit type="submit" id="reserchButton" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
            </span>
          </div>

        <br>
        <p id="result"></p>
        <br>
    </div>
    </div>
    </div>

    <!-- ページトップへ戻るボタン -->
    <p class="pagetop" style="display: block;">
    <a href="#">
    <i class="fas fa-chevron-up"></i>
    </a>
    </p>

  
    <script src = "./js/ranking.js"></script>
    <script src = "./js/scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>